page-order{
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
tr{
    font-size: 14px;
    font-weight:bold;
}
th{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
}
